<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="google-site-verification" content="4Qrq0KOXD4Wcudxvh_WuC8o0SKstD7zy98gBwPdprTs" />
<meta name="google-site-verification" content="CfroEw87nUma8yMX_HuBmkBUPfZtQSixxgJiyT0aCVo" />

<title>{{- if .IsHome -}}{{ site.Title }}{{- else if .Title -}}{{ .Title }} | {{ site.Title }}{{- else -}}{{ site.Title }}{{- end -}}</title>

<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "Alice Hsu' Blog",
      "url" : "https://alicehsu.blog/"
    }
  </script>


<meta name="description" content="{{- with .Description -}}{{ . | plainify | truncate 160 "..." }}{{- else -}}{{- with .Params.summary -}}{{ . | plainify | truncate 160 "..." }}{{- else -}}{{- if or .IsPage .IsSection -}}{{- if .Content -}}{{ .Content | plainify | truncate 150 "..." }}{{- else -}}{{- with site.Params.description -}}{{ . | plainify | truncate 160 "..." }}{{- else -}}{{ printf "%s - %s" .Title site.Title | plainify | truncate 160 "..." }}{{- end -}}{{- end -}}{{- else -}}{{- with site.Params.description -}}{{ . | plainify | truncate 160 "..." }}{{- else -}}{{ printf "%s - %s" .Title site.Title | plainify | truncate 160 "..." }}{{- end -}}{{- end -}}{{- end -}}{{- end -}}" />
<meta name="keywords" content="{{- with .Params.tags -}}{{ delimit . ", " }}{{- else -}}{{- with site.Params.keywords -}}{{ delimit . ", " }}{{- end -}}{{- end -}}" />
<meta name="author" content="{{- with .Params.author -}}{{ . }}{{- else -}}{{ site.Params.defaultAuthor }}{{- end -}}" />
<meta name="language" content="{{ site.Params.language | default site.LanguageCode }}" />

<meta name="robots" content="{{- with .Params.robots -}}{{ . }}{{- else -}}index, follow{{- end -}}" />
<link rel="canonical" href="{{ .Permalink }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.Params.Twitter_Site }}" />
{{- if .IsHome -}}
 <meta name="og:title" content="{{ site.Title }}" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="{{ site.Params.Description }}" />
 <meta property="og:url" content="{{ site.BaseURL }}" />
 <meta name="og:image" content="{{ site.Params.Image }}" />
 <meta name="twitter:creator" content="{{ site.Params.Twitter_Site }}" />
 <meta name="twitter:title" content="{{ site.Title }}" />
 {{- with site.Params.Twitter_Image -}}
   <meta name="twitter:image" content="{{ site.Params.Twitter_Image }}" />
 {{- else -}}
   <meta name="twitter:image" content="{{ site.Params.Image }}" />
 {{- end -}}
{{- else -}}
 <meta name="og:title" content="{{ .Title }}" />
 {{- with .Params.og_type -}}
   <meta property="og:type" content="{{ . }}" />
 {{- else -}}
   <meta property="og:type" content="website" />
 {{- end -}}
 <meta property="og:description" content="{{ .Params.Description }}" />
 <meta property="og:url" content="{{ .Permalink }}" />
 {{- with .Params.Featured_image -}}
   <meta name="og:image/" content="{{ . }}" />
   <meta name="twitter:image" content="{{ . }}" />
 {{- else -}}
   <meta name="og:image" content="{{ site.Params.Image }}" />
   <meta name="twitter:image" content="{{ site.Params.Image }}" />
 {{- end -}}
 {{- with .Params.Author_twitter_handle -}}  
   <meta name="twitter:creator" content="{{ . }}" />
 {{- else -}}
   <meta name="twitter:creator" content="{{ site.Params.Twitter_Site }}" />
 {{- end -}}
 <meta name="twitter:title" content="{{ .Title }}" />
{{- end }}


{{ with site.Params.favicon.svg }}
  <link rel="icon" type="image/png" href="{{ . }}" sizes="24x24" />
{{ else }}

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
{{ end }}


<link rel="manifest" href="/site.webmanifest" />
{{ partial "layout/head/seo.html" . }}



<script>
  window.HUGO_SEARCH_CONFIG = {
    searchIndexURL: '{{ printf "%sindex.json" site.Home.RelPermalink | jsonify }}'
  };
</script>


{{ partial "config/gallery.html" . }}
{{ partial "layout/head/css.html" . }}
{{ partial "layout/head/js.html" . }}
