{{- if .IsHome -}}
 <meta name="og:title" content="{{ site.Title }}" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="{{ site.Params.Description }}" />
 <meta property="og:url" content="{{ site.BaseURL }}" />
 <meta name="og:image" content="{{ site.Params.Image }}" />
{{- else -}}
 <meta name="og:title" content="{{ .Title }} | {{ site.Title }}" />
 {{- with .Params.og_type -}}
   <meta property="og:type" content="{{ . }}" />
 {{- else -}}
   <meta property="og:type" content="website" />
 {{- end -}}
 <meta property="og:description" content="{{ .Params.Description }}" />
 <meta property="og:url" content="{{ .Permalink }}" />
 {{- with .Params.cover -}}
   <meta name="og:image/" content="{{ . }}" />
 {{- else -}}
   <meta name="og:image" content="{{ site.Params.Image }}" />
 {{- end -}}
{{- end }}