{{- /* embed-pdf 短代碼每頁只需要載入一次的程式和樣式，由 head.html 在用到該短代碼的頁面載入 */ -}}
<script type="text/javascript" src= '/js/pdf-js/build/pdf.js'></script>

<style>
  #embed-pdf-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 20vh;
    /* overflow-y:scroll; */
  }
  
  .pdf-canvas {
    border: 1px solid black;
    direction: ltr;
    width: 100%;
    height: auto;
    display: none;
  }
  
  #the-canvas {
    border: 1px solid black;
    direction: ltr;
    width: 100%;
    height: auto;
    display: none;
  }
  
  
  .pdf-loadingWrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }
  
  .pdf-loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #d2d0d0;;
    border-radius: 50%;
    border-top-color: #383838;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  .pdf-paginator {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  {{/*  Download link  */}}
  
  
  
  #overlayText {
    word-wrap: break-word;
    display: grid;
    justify-content: end;
  }
  
  #overlayText a {
    position: relative;
    top: 10px;
    right: 4px;
    color: #000;
    margin: auto;
    background-color: #eeeeee;
    padding: 0.3em 1em;
    border: solid 2px;
    border-radius: 12px;
    border-color: #00000030;
    text-decoration: none;
  }
  
  #overlayText svg {
    height: clamp(1em, 2vw, 1.4em);
    width:  clamp(1em, 2vw, 1.4em);
  }

  .pdf-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pdf-nav {
    position: absolute;
    top: 100%;
    height: 100%;
    transform: translateY(-100%);
    background: rgba(180, 180, 180, 0.2);
    border: none;
    font-size: 2rem;
    padding: 0em 0.2em;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .pdf-nav:disabled {
    opacity: 0.1;
    cursor: default;
  }

  .pdf-nav:hover {
    background: rgba(180, 180, 180, 0.7);
  }

  .pdf-prev {
    left: 0em;
  }

  .pdf-next {
    right: 0em;
  }
  
  
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  </style>
